.section {
    display: flex;
    justify-content: center;
}

.table {
    border-collapse: collapse;
    text-align: center;
}

.table__column {
  padding: 10px 5px;
}

.table__row {
  border: 2px solid black;
}

.completed-true {
  background: green;
}

.completed-false {
  background: yellow;
}

.btn-load {
  font-weight: 700;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  border: none;
  width: 200px;
  height: 100px;
  font-size: 36px;
  cursor: pointer;
}

.btn-load:hover {
  background: rgb(53, 167, 110);
}

.btn-sort {
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn-sort:hover:before {
    content: 'Sort by '
}

