div {
  text-align: center;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px 5px;
}

tr {
  border: 2px solid black;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: chocolate;
  font-weight: bold;
}

.completed-true {
  background: green;
}

.completed-false {
  background: yellow;
}

button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  border: none;
  width: 200px;
  height: 100px;
  font-size: 36px;
  cursor: pointer;
}
button:hover {
  background: rgb(53, 167, 110);
}

button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.load {
  text-align: left;
  padding: 0 20px;
}

.load:after {
  content: '';
  animation: loader 2s infinite ease-in-out;
}

@keyframes loader {
  0% {
    content: '.';
  }
  50%{
    content: '..';
  }
  100%{
    content: '...';
  }
}

ul {
  list-style-type: none;
}